@font-face {
    font-family: 'matrix';
    src: url('../assets/font/matrix-code-nfi.otf') format('truetype');
}
@font-face {
    font-family: 'receipt';
    src: url('../assets/font/receipt.otf') format('truetype');
}
@font-face {
    font-family: 'minisystem';
    src: url('../assets/font/minisystem.otf') format('truetype');
}