@media (max-width: 768px) {
    body {
        background: linear-gradient(135deg, rgba(0, 255, 0, 0.25), rgba(0, 0, 0, 0.1));
        transition: background 0.5s ease;
        overflow-x: hidden;
    }

    .startText {
        padding: 10px;
        font-size: 2em;
        white-space: normal; 
    }

    canvas {
        box-shadow: none;
    }
    #startScreen {
        padding-top: 30px; 
    }
}